@import "../mixins";
@import "../variables";

.excel__header{
    height: $header-height;

    display: flex;
    justify-content: space-between;

    padding: 8px 4px 4px 0;

    & .excel__header_input{
        margin: 0;
        padding: 0;

        min-width: 1px;

        color: #000;

        border: 1px solid transparent;
        border-radius: 2px;

        height: 20px;

        font-size: 18px;
        line-height: 22px;

        outline: none;

        &:hover{
            border: 1px solid $border-color;
        }
        
        &:focus{
            border: 2px solid #1a73e8;
        }
    }

    .header__button{
        &.b-delete{
            @include button(red);
        }
        &.b-quit{
            @include button();
        }
    }
}