@import "../mixins";
@import "../variables";

.excel__table{
    overflow-x: auto;

    padding-bottom: 2px;

    .table__row{
        display: flex;
        flex-direction: row;

        min-height: 20px;
        height: $table-basic-height;
        position: relative;

        &_info{
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: $info-cell-width;
            height: 100%;
            position: relative;

            border: 1px solid $border-color;
            border-top: none;

            background: #f8f9fa;

            .row-resize{
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1000;

                height: 4px;
                width: 100%;

                background: lightskyblue;

                opacity: 0;

                transition: opacity .3s ease;

                &:hover{
                    opacity: 1 !important;
                    cursor: row-resize;
                }
            }
        }

        &_data{
            display: flex;

            .table__column{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                background: #f8f9fa;

                min-width: 40px;
                width: $cell-width;
                height: 100%;

                border: 1px solid $border-color;
                border-top: none;
                border-left: none;

                .col-resize{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    z-index: 1000;

                    width: 4px;
                    background: lightskyblue;

                    opacity: 0;

                    cursor: col-resize;

                    transition: opacity .3s ease-out;

                    &:hover{
                        opacity: 1 !important;
                    }
                }
            }

            .table__cell{
                min-width: 40px;
                width: $cell-width;
                height: 100%;

                padding: 5px;

                border: 1px solid #e2e2e2;
                border-top: none;
                border-left: none;

                color: #111;

                white-space: nowrap;

                outline: none;

                &.selected{
                    border: none;

                    outline: 2px solid #3c74ff;

                    z-index: 2;
                }
            }
        }
    }
}