@import "../mixins";
@import "../variables";

.excel__toolbar{
    height: $toolbar-height;
    position: relative;

    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    padding: 7px 10xp;

    .excel__toolbar_battons{
        height: 100%;

        display: flex;
    }
    
    .toolbar__button{
        @include button(green);

        justify-content: start;

        margin: auto 10px;
    }
}