$main-color: #888;
$border-color: #c0c0c0;
$input-text-color: black;

$temp-color: lightgreen;

$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$table-basic-height: 24px;
$dashboard-header-height: 64px;

$info-cell-width: 40px;
$cell-width: 120px;