/*IMPORT SECTION*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~normalize.scss";
@import "modules/header";
@import "modules/toolbar";
@import "modules/formula";
@import "modules/table";

/*COMMON SECTION*/

*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;

    font-size: 12px;
}

.dfl{
    display: flex;
}
.jcb{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}

.excel{
    position: relative;

    color: $main-color;
}