/*IMPORT SECTION*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~normalize.scss";
@import "modules/header";
@import "modules/toolbar";
@import "modules/formula";
@import "modules/table";
@import "modules/dashboard";

/*COMMON SECTION*/

*{
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;

    font-size: 12px;
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.dfl{
    display: flex;
}
.jcb{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}

.excel{
    position: relative;

    color: $main-color;

    height: 100%;
    max-width: 100%;

    font-size: .8rem;
}